.onyx-toggle-button.onyx-animated-toggle-button {
	position: relative;
}

.onyx-toggle-button.onyx-animated-toggle-button .onyx-toggle-button-knob {
	display: block;
	position: absolute;
}

.onyx-toggle-button.onyx-animated-toggle-button .onyx-toggle-content.off {
	margin-left: 30px;
}

.onyx-toggle-button.onyx-animated-toggle-button .onyx-toggle-content.on {
	margin-right: 30px;
}
